*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* common-style */
 .romantic-btn{  
    cursor: pointer;
    font-size: 1em;
     padding: 8px 12px;
     border-radius: 6px;
    color: white;
    border: none;
    background-color: #FA6F61;
}


header{
    max-width: 1250px;
    margin: 50px auto;
}


main{
      background-color: #F8F9FC;
      margin-top: 75px;
      height: 650px;
}
footer{
    max-width: 1250px;
    margin: 50px auto;
}


.card-container{
    max-width: 1250px;
    margin: auto;
    max-height: 650px;
}

/* navigation-bar */
nav ul{
    display: flex;
    gap: 30px;
    justify-content: end;
}
nav li{
    list-style: none;
   
}

nav li a{
    text-decoration: none;
     color: #3C3C3C;
     font-size: 1.2em;
}
/* hero-section */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title1{
max-height: 100vh;
max-width:40vw;

}
.hero-title1 h1{
    color: #363958;
    font-size: 3em;
    font-weight: bold;
   
}
.hero-title1 span{
    color: #FF8367;
     font-size: 1em;
    font-weight: bold;
}
.hero-title1 p{
     font-size: 1em;
    
}

.hero-section-pic1 img{
    max-height: 30em;
    max-width: 30em;
}


/* another-hero-section */
.another-hero-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.hero-title2{
max-height: 100vh;
max-width:40vw;

}
.hero-title2 h1{
    color: #363958;
    font-size: 3em;
    font-weight: bold;
   
}

.hero-title2 p{
     font-size: 1em;
    
}

.hero-section-pic2 img{
    max-height: 30em;
    max-width: 30em;
}

/* card-section  */
.card-title{
    color: #363958;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
   
}
.card-title span{
    color: #FF8367;
     font-size: 1em;
    font-weight: bold;
}


.card-parent{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 25px;


}
.card-parent h3{
    font-size: 1.5em;
    padding-bottom: 10px;
}
.card-parent img{
    height: 310px;
    width: 440px;
}

/* footer-section */

.footer-child-1{
    margin: auto;
display: flex;   
justify-content: space-around;
align-items: center; 
height:225px;
width: 906px;    
background-size: cover;
background-image: url("../shapes/Group_33094_1.png");
background-repeat: no-repeat;
}
.footer-child-1 h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.footer-child-2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.footer-child-2 ul{
    display: flex;
    gap: 20px;
    
}
.footer-child-2 h4{
    color: #696871;
}
.footer-child-2 li {
    list-style: none;
}
.footer-child-2 li img{
    height: 2em;
}



/* Small devices */
@media (max-width: 576px) {

header{
    max-width: 576px;
    margin: 50px auto;
}


main{
      background-color: #F8F9FC;
      margin: 50px auto;
      height: 500px;
       max-width: 576px;
}
footer{
    max-width: 576px;
    margin: 50px auto;
}

nav ul{
    display: flex;
 justify-content: center;
   
}

.hero-title1,.hero-title2{
    font-size: 0.6em;
    text-align: center;
}
.hero-section,.another-hero-section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 576px;
    align-items:center;
    margin: auto;
    max-height: 600px;
}

.card-container{
 display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 576px;
    align-items:center;
    max-height: 600px;
}
.card-container img{
    max-height: 100px;
    max-width: 100px;
}

.footer-child-1{
    max-width: 450px;
    margin: auto;
    font-size: 10px;
    max-height: 100px;
}
 }

 @media (min-width: 577px) and (max-width:600px) {
header{
    max-width: 600px;
    margin: 50px auto;
}


main{
      background-color: #F8F9FC;
      margin: 50px auto;
      height: 500px;
       max-width: 600px;
}
footer{
    max-width: 600px;
    margin: 50px auto;
}

nav ul{
    display: flex;
 justify-content: space-around;
   
}

.hero-title1,.hero-title2{
    font-size: 0.8em;
    text-align: center;
}
.hero-section,.another-hero-section{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 600px;
    align-items:center;
    margin: auto;
    max-height: 600px;
}
.hero-section img{
    max-height: 420px;
    max-width: 420px;
}
.another-hero-section img{
     max-height: 420px;
    max-width: 420px;
}

.card-container{
 display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    align-items:center;
    max-height: 600px;
}
.card-container img{
    max-height: 120px;
    max-width: 120px;
}

.footer-child-1{
    max-width: 600px;
    margin: auto;
    font-size: 12px;
    max-height: 100px;
}

 }

 @media (min-width: 600px) and (max-width:768px) {
header{
    max-width: 768px;
    margin: 50px auto;
}


main{
      background-color: #F8F9FC;
      margin: 50px auto;
      height: 500px;
       max-width: 768px;
}
footer{
    max-width: 768px;
    margin: 50px auto;
}

nav ul{
    display: flex;
 justify-content: space-around;
   
}

.hero-title1,.hero-title2{
    font-size: 0.6em;
    text-align: center;
}
.hero-section,.another-hero-section{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 768px;
    align-items:center;
    margin: auto;
    max-height: 600px;
}
.hero-section img{
    max-height: 400px;
    max-width: 400px;
}
.another-hero-section img{
     max-height: 400px;
    max-width: 400px;
}

.card-container{
 display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    align-items:center;
    max-height: 600px;
}
.card-container img{
    max-height: 100px;
    max-width: 100px;
}

.footer-child-1{
    max-width: 768px;
    margin: auto;
    font-size: 10px;
    max-height: 100px;
}

 } 